
<div class="d-flex justify-content-between">
    
    <div class="d-flex comp-atalho-login zero-margin">
        <ul class="d-flex align-items-center zero-margin">
            @*Controller Fictias*@
            <li class="nav-item"> <a class="li-item-my text-white" asp-controller="Produtos" asp-action="Index"> Projetos </a> </li>

            <li class="nav-item"> <a class="li-item-my text-white" asp-controller="Home" asp-action="Contatos"> Contato </a> </li>
        
        </ul>
        
        <button class="btn btn-info " asp-controller="Usuario" asp-action="Login"> Login </button>

    </div>

</div>