<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sparrow_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sparrow_MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="bg-color d-flex justify-content-between height-navbar align-items-center">
           
            <div>
                <a class="principal-nav-item" asp-controller="Home" asp-action="Index">Sparrow | Tech</a>
            </div>
            <ul class="d-flex align-items-center principal-nav-item ">
                <li><a class="principal-nav-item" asp-area="" asp-controller="Home" asp-action="Produto">Produto</a></li>
                <li><a class="principal-nav-item" asp-area="" asp-controller="Home" asp-action="Contato">Contato</a></li>
                <li><button class="btn btn-info">Sing | Login</button></li>
            </ul>
        </nav>
    </header>
    <div class="container zero-margin">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
