<link href="~/css/site.css"/>
<div class="p-0 m-0">
    <header class="bg-image">
        <div class="d-flex justify-content-between p-4">
            <div class="init-balao">
                <h3 class="init-balao-item">Lorem Ipsun</h3>
                <p class="init-balao-item ">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged.
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                    Ipsum passages, and more recently with desktop publishing software like Aldus
                    PageMaker including versions of Lorem Ipsum.
                    <a href="#SobreNos">Sobre nós</a>
                </p>
            </div>
            <div class="init-balao">
                <img src="~/img/dados.png" />
            </div>
        </div>
    </header>
    <div class="sobre-nos-back m-0" id="SobreNos">
        <partial name="_SobreNos">
    </div>
</div>