<div class="w-50 w-50 d-flex justify-content-center flex-column text-center">
    <h3><b>Criação da Empresa</b></h3>
    <p>A empresa Sparrow Technology foi criada no ano de 2022, em São Paulo, por um grupo de estudantes. Voltada para a tecnologia, ela desenvolveu seu primeiro projeto que engloba a área da saúde na busca do controle de medicamentos online por via de um aplicativo para celulares.</p>
</div>
<div class="w-50 d-flex justify-content-center">
    <img src="~/img/tech-about.png"/>
</div>