<div class="col-md-5 d-flex align-content-center flex-column m-auto text-light">
    <h2>Sua saúde é nossa prioridade</h2>
    <p>A Sparrow Technology vem a tempos buscando oferecer a melhor maneira para você fazer a gestão da sua saúde através da tecnologia. </p>
    <button class="btn btn-color-padrao text-white ">Começe agora</button>
</div>
<div class="col-md-5 d-flex align-items-center justify-content-center">
    <img class="diminui-img" src="./">
</div>