<div class="col-md-4 d-flex align-content-center flex-column">
    <h2>Sobre nós</h2>
    <p>A empresa Sparrow Technology foi criada no ano de 2022, em São Paulo, por um grupo de estudantes. Voltada para a tecnologia, ela desenvolveu seu primeiro projeto que engloba a área da saúde na busca do controle de medicamentos online por via de um aplicativo para celulares.</p>
</div>