<div class="team d-flex justify-content-center">
    <h3>Equipe Sparrow</h3>
    <div class="team_conteudo d-flex gap-2 p-2 flex-column flex-lg-row justify-content-between align-items-center w-100">

        <div class="quadro">
            <img class="quadro" src="~/img/dados.png">
            <p>Mayara</p>
        </div>

        <div class="quadro">
            <img class="quadro" src="~/img/dados.png">
            <p>Thiago</p>
        </div>

        <div class="quadro">
            <img class="quadro" src="~/img/dados.png">
            <p>Nicolly</p>
        </div>

        <div class="quadro">
            <img class="quadro" src="~/img/dados.png">
            <p>Dan</p>
        </div>
    </div>
</div>