<div class="nossos_valores">
<h3>Nossos valores</h3>
</div>
<div class="text_valores">
    <p> Nossa missão é oferecer facilidade para a gestão da saúde através da tecnologia, tendo a visão de alcançar e melhorar a saúde de pessoas de todas as idades. <br />Os valores da empresa se baseiam em transparência, cuidado com o próximo, integridade e união com os que compõem a empresa. </p>
</div>
<div class="valores_img">
    <img src="~/img/valores-1.png">
    <img src="~/img/valores-3.png">
    <img src="~/img/valores-2.png">
</div>