<div class="text-center col-md-offset-3">
<h3>Nossos valores</h3>
<p> Nossa missão é oferecer facilidade para a gestão da saúde através da tecnologia, tendo a visão de alcançar e melhorar a saúde de pessoas de todas as idades. <br />Os valores da empresa se baseiam em transparência, cuidado com o próximo, integridade e união com os que compõem a empresa. </p>
</div>