@{
    ViewData["Title"] = "Home";
}
<div class="escopo-principal">
    <div class="init">
        <partial name="_Home_Apresentacao" />
    </div>

    <div class="sobre_nos">
        <partial name="_Sobre_Nos" />
    </div>
    <div class="create_company d-flex">
        <partial name="_Create_Company" />
    </div>
    <div class="team d-flex">
        <partial name="_Team" />
    </div>
    <div class="valor-sparrow">
        <partial name="_Valor_Sparrow" />
    </div>
</div>
<partial name="_Footer_Geral" />