*{margin: 0px; padding:0px; list-style:none; text-decoration:none;}
a {
    text-decoration: none;
    font-size: 20px;
}
.bg-color {
    background-color: rgba(37, 140, 148, 0.5);
}
body{
    background-image:url(../img/back-teste.jpg);
}
.principal-nav {
    padding: 0;
    margin: 0;
}
.principal-nav-item {
    gap:3px;
    padding: 0;
    margin: 3px 5px;
    color:white
}
.li-item {
    padding: 2px;
    border-radius: 5px;
}
.li-item:hover{
    background-color:white;
    color:black;
    
}
.display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}